<footer class="footer">
  <div class="container">
    <div class="footer__icons">
      <a href="{{twitter}}" class="footer__icon" aria-label="My Twitter Page">
        <i class="ion-social-twitter"></i> 
      </a>
      <a href="{{github}}" class="footer__icon" aria-label="My Github Profile">
        <i class="ion-social-github"></i>
      </a>
      <a href="mailto:{{email}}?subject=Let's Talk" class="footer__icon" aria-label="Send me an email to talk about potential jobs">
        <i class="ion-email"></i>
      </a>
    </div>

    <div class="footer__sep"></div>
    <div class="footer__row">
      <p class="footer__text">2018 Kyle Roach, All rights reserved.</p>
      <p class="footer__text">Design <span>interfaces.</span> Develop <span>experiences</span></p>
    </div>
  </div>
</footer>
