<nav class="nav">
  <div class="container">
    <a href="/">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="472" height="136" viewBox="0 0 472 136" class="nav__logo">
        <defs>
          <rect id="logo-a" width="294" height="136"/>
          <rect id="logo-b" width="188" height="136"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(178)">
            <use fill="#FFF" xlink:href="#logo-a"/>
            <rect width="284" height="126" x="5" y="5" stroke="#333333" stroke-width="10"/>
            <text fill="#333333" font-family="Futura-Medium, Futura" font-size="70" font-weight="400">
              <tspan x="21.462" y="96">ROACH</tspan>
            </text>
          </g>
          <use fill="#333333" xlink:href="#logo-b"/>
          <rect width="178" height="126" x="5" y="5" stroke="#333333" stroke-width="10"/>
          <text fill="#FFF" font-family="Futura-Medium, Futura" font-size="70" font-weight="400">
            <tspan x="11.498" y="96">KYLE</tspan>
          </text>
        </g>
      </svg>
    </a>

    <ul class="nav__menu">
      <li class="nav__item">
        <a href="">Home</a>
      </li>
      <li class="nav__item">
        <a href="">About</a>
      </li>
      <li class="nav__item">
        <a href="">Projects</a>
      </li>
      <li class="nav__item">
        <a href="">Contact</a>
      </li>
    </ul>
  </div>
</nav>
