.about {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 80px 0;

  @include respond-to(small) {
    margin: 0;
  }

  @include element(image) {
    max-width: 80%;
  }

  @include element(block) {
    @include respond-to(small) {
      display: flex;
      align-items: flex-start;
    }

    @include respond-to(medium) {
      display: flex;
      align-items: center;
    }
  }

  @include element(image-block) {
    text-align: center;
    margin-bottom: 60px;

    @include respond-to(small) {
      margin-bottom: 0;
    }
  }

  @include element(headline) {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 600;
  }

  @include element(title) {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    font-weight: 300;

    span {
      font-weight: 600;
    }

    &:after {
      content: '';
      display: block;
      margin-top: 16px;
      width: 80px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
