.webp .hero {
  background-image: url('../images/hero.webp');
}

.no-webp .hero {
  background-image: url('../images/hero.jpg');
}

.hero {
  background-size: cover;
  width: 100%;
  z-index: 0;
  position: relative;
  margin-top: -105px;
  padding: 5rem 0 2.5rem;
  background-position: right center;
  filter: saturate(20%) contrast(180%);
  display: flex;
  align-items: center;
  color: #fff;

  @include respond-to(xsmall) {
    margin-top: -85px;
  }

  @include element(container) {
    width: calc(100% - 30px);

    @include respond-to(small) {
      width: 750px;
    }

    @include respond-to(medium) {
      width: $grid-width;
    }
  }

  @include element('cover') {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba($primary, 0.2);
    top: 0;
    left: 0;

    @include respond-to(small) {
      background: none;
    }
  }

  @include element(content) {
    text-align: right;
    float: right;
    padding: 0;

    @include respond-to(medium) {
      padding: 0 15px;
    }

    @include respond-to(large) {
      padding: 0;
    }
  }

  @include element(pre) {
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: $headingFont;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
  }

  @include element(name) {
    font-family: $headingFont;
    font-weight: 700;
    margin-top: 4px;
    font-size: 3.25rem;
    margin-bottom: 24px;
  }

  @include element(text) {
    margin-bottom: 50px;
  }
}
