.os {
  padding: 60px 0;

  @include element(header) {
    text-align: center;
  }

  @include element(title) {
    font-family: 'Raleway';
    text-transform: uppercase;
    // font-size: 14px;
    font-weight: 500;

    span {
      font-weight: 700;
    }
  }

  @include element(projects) {
    margin-top: 60px;
  }
}

.os-project {
  padding: 8px;
  margin: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba($primary, 0.4);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;

  @include respond-to(medium) {
    height: 130px;
  }

  p {
    margin: 0;
  }

  @include element(title) {
    color: $primary;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
  }

  @include element(desc) {
    font-size: 12px;
  }

  @include element(stats) {
    margin-top: 8px;
    font-size: 12px;
  }

  @include element(language) {
    color: #fff;
    background: $primary;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;

    &.typescript {
      background: #2b7489;
    }

    &.objective-c {
      color: $primary;
      background: #ffc0cb;
    }

    &.javascript {
      background: #f1e05a;
      color: $primary;
    }
  }

  @include element(stars) {
    color: #fff;
    background: $primary;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
  }
}
