.button {
  background: none;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;  
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  letter-spacing: 2px;
  transition: 300ms ease-in-out;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}
