.folio-square {
  --square-size: 300px;
  --square-small-size: 100px;

  width: var(--square-small-size);
  height: var(--square-small-size);
  position: relative;
  overflow: hidden;
  margin: 8px;
  background: #ffc0bc;
  float: left;

  @include respond-to(small) {
    width: var(--square-size);
    height: var(--square-size);
  }

  @include element(content) {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 15px;

    @include when-inside('.folio-square:hover') {
      opacity: 1;
    }
  }

  @include element(title) {
    color: #fff;
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 16px;
    margin-left: 4px;
    text-transform: uppercase;
    position: relative;
    transform: translateX(-60px);
    transition: 200ms ease-out;

    @include when-inside('.folio-square:hover') {
      transform: translateX(0);
    }
  }

  @include element(tag) {
    color: #fff;
    background: $primary;
    padding: 4px;
    font-size: 0.75rem;
    font-family: $headingFont, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
}
