.nav {
  position: relative;
  z-index: 1;
  padding: 0 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &:before,
    &:after {
      display: none;
    }
  }

  @include element(logo) {
    height: 40px;
    width: 140px;
  }

  @include element(menu) {
    padding: 0;
    margin: 0;
    text-align: right;
    display: none;

    @include respond-to(small) {
      text-align: unset;
      display: block;
    }
  }

  @include element(item) {
    display: inline-block;
    margin-left: 16px;

    a {
      font-family: $headingFont;
      text-transform: uppercase;
      font-size: .875rem;
      color: $primary;
      font-weight: 700;
      transition: color 300ms ease-in-out;
    }

    &:hover a {
      color: #fff;
    }
  }
}
